/* * ------------ App ------------ * */

.App {
  box-sizing: border-box;
  /* font-family: 'Lato', 'Arial', sans-serif; */
  font-family: 'Karla', sans-serif;
  /* font-family: 'Archivo', sans-serif; */
  /* height: 100%; */
  font-size: 20px;

}

Body {
  background-image: url('./assets/img/cool-background4.png');
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
  font-family: 'Archivo', sans-serif;
}

#wrapper {
  margin: 1%;
}


/* * ------------ NavBar ------------ * */
.landing-nav {
  margin-left: auto;
}
 
#navBar {
  position: relative;

}

.navbar{ 
  background:#1a5d93;
  max-height: 8vh;
  /* box-shadow: inset 0 0px 15px #3a169fe6; */
  box-shadow: inset 0 0px 15px #346be0e6;
}

.nav-link{ 
  margin-right: 1em !important;
  color: #ffffff
}

.nav-link:hover{
  color: #55bbff; transition: 0.6s
}


#logoutLogo {
  /* padding: 5px; */
  max-width: 10vw;
  max-height: 7.4vh;
  margin-left: 3rem; 
}


/* * ------------ Landing ------------ * */


@media (max-width: 1233px) {
  .description {
    min-width: 58%;
    top: 25%;
  }
  #logoutLogo {
    /* padding: 5px; */
    max-width: 20vw;
    max-height: 6vh;
    margin-left: 3rem; 
  }
}

@media (max-width: 750px ) {
  .description {
    min-width: 95%;
    bottom: 20px;
    margin-bottom: 25%;
    background-color: #2f2bff2f; 
    box-shadow: inset 0 0px 23px #2b4589;
  }
  
}

.header {
  position: relative;
  height: 83vh;
  /* width: 100% !important; */
  /* width: 100% !important; */
  background-image: url('./assets/img/book-img.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  right: 0;
  top: 0;
  text-align: right;
}

.description {
  /* color: white; */
  position: absolute;
  /* top: 25%; */
  top: 49%;
  right: 3%;
  margin: auto;
  width: 38%;
  padding: 1.5em;
  border-radius: 15px;
  
  /* background: #04229cdc !important; */
  /* background: #0b90d7d8; */
  box-shadow: inset 0 0px 23px #98b0ec;
  /* margin: auto 25%; */
  /* color: white; */
  /* position: absolute; */
  text-align: left;
  /* top: 25%; */
  /* top: 30%; */
  /* width: 40%; */
  /* margin: auto; */
  /* padding: 2em; */
  /* border-radius: 15px; */
}

#app-features {
  margin: 4rem;
}

.feature-container {
  /* background: #ffffff; */ 
}
#sign-up-button {
  position: relative;
  /* left: %; */

}

.footer-copyright {
  background:#1a5d93;
  color:#ffffff;
}

.github-link {
  color: #a3d4ff
}

/* #landing-rows-1 {
  position: relative;
}
#heading-row {
  margin-top: 24%;
}

#heading-text {

  position: relative;
  top: 25%;
  width: 100%;
  margin-left: auto;
  text-align: center;
  top: 160px;

  vertical-align: middle;
  line-height: 3.8rem;
  font-size: 2.6em;
  letter-spacing: 0.24em; */
  /* height: 40vh */
/* 
  text-shadow: 0px 0px 1px #ffffff;

  
}

.heading-emph {
  font-size: .9em;
}

.landing-features {
  background-color: #ffffff;
  height: 25vh;
  width: 95vw;
  
}

#landingImg {
  display: block;
  height: 8rem;
  width: 8rem;
  margin: 0% 35%;
}

#search-input {
  z-index: 2
}

#landingCards {
  background-color: #ffffff75 !important;
  border-radius: 8%;
  margin: 0 auto;
  width: 95%;
  border: 1px solid #5e1b1b57 !important; 
  height: 97%; */
  /* box-shadow: 2px 2px; */
/* }


*/
.card-img-top {
  width: 10rem !important;
  margin: auto
}


/* .card-text { */
  /* text-align: center; */
/* } */


/* .feature-column { */
  /* padding-left: 20px; */
/* } */

/* * ------------ Sign In Screens ------------ * */


#signupAlerts {
  position: absolute;
  top: 40px;
}

#signupForm {
  margin-top: 10%;
}


#loginHeaders {
  text-align: center;
  font-size: 3em;
  margin-top: 3rem;
  padding-bottom: 10px
}


/* * ------------ Main Sidebar ------------ * */

#sidebar-folder-text {
  /* background: rgba(255, 255, 255, 0.608); */
  color: #ffffff;
  text-shadow: 1.5px 1.5px #060101;
}


#sidebar-wrapper {
  /* margin-top: 15px; */
  min-height: 85vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  height: 50vh;
  /* width: 29vw; */
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */
}
#sidebar-wrapper .list-group-flush {
  overflow-x: scroll;
  height: 85vh;
  position: relative;
  top: 4rem;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    margin-top: 10px;
  }

  #page-content-wrapper {
    /* min-width: 0;
    width: 100%; */
    position: relative;
    top: 4rem;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

#add-bookmark {
  z-index: 2;
}

/* * ------------ Main Sidebar 2 ------------ * */

#search-input input{
  width: 100% !important;
}

#menu-toggle {
  top: 27px;
  right: 138px;
  position: absolute;
}

/* * ------------ Bookmark Container ------------ * */
 
#bookmark-container {
  height: 85vh;
  overflow: scroll;
  display: flex;
  flex-flow: column wrap;
  flex-direction: row;
  width: 100%;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
  max-width: 85vw;
}

.bookmark-box {
  /* margin-left: 10px; */
  /* padding-left: 20px; */
  /* align-self: flex-start; */
}

.bookmark-card {
  /* background: #ffffff; */
  /* margin-top: 10px; */
  height: 200px;
  width: 250px;
  /* padding: 15%; */
  
  /* margin-left: 20%; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  align-self: flex-start;
  box-shadow: inset 0 10px 15px #f2f2f273;
  border: .5px solid #f6f6f6dd;
  margin-left: 10px;
}

.bookmark-box {
  opacity: .91;
}

.bookmark-box:hover {
  transition: all 0.5s ease;
  opacity: 1;
  transform: scale(1.01);
}

/* @media (max-width: 1500px) {
  .bookmark-card {
    margin-left: 200px;
  }
} */
@media (max-width: 1385px) {
  .bookmark-card {
    height: 175px;
    width: 230px;
    margin: auto;
  }
}

@media (max-width: 1264px) {
  .bookmark-card {
    margin: auto 25px;
    width: 200px;
  }
}
@media (max-width: 1080px) {
  .bookmark-card {
    /* height: 1px; */
    margin-top: 0;
    margin-left:5px; 
  }
  
}

@media(max-width: 1018px) {
  .bookmark-card {
    margin-left: auto;
    width: 160px;
  }
}
@media(max-width: 881px) {
  .bookmark-card {
    margin: auto; 
  }
}

@media(max-width: 805px) {
  .bookmark-card {
    width: 130px;
    margin: auto;
  }
}

@media(max-width: 510px) {
  .bookmark-card {
    margin-left: 20px;
    width: 100px;
  }
}
.card-title {
  /* backdrop-filter: blur(10px); */
  /* margin: 25% auto; */
  text-align: center;
  color: black;
}


/* * ------------ Add Bookmark Form  ------------ * */

#textarea {
  width: 100%;
  height:  200px;
}

#folderSelect {
  width: 100%;
}

#searchInput {
  z-index: 2;
}

/* * ------------ Show Bookmark Form ------------ * */

#show-bookmark-img {
  width: 100%;
  height: 250px;
}

