

.App {
  box-sizing: border-box;
  font-family: 'Lato', 'Arial', sans-serif;
}


/* ! NavBar */ 


.nav-items {
  margin-left: 90rem;
  height: 5vh;
}

.nav-brand {
  margin-left: 40px;
}


/* ! Landing */ 

.landing {
  position: relative;
}
.landing-background {
  height: 65vh;
  width: 100%;
  background-image: url('./assets/img/book-img.jpg');  
  background-size: cover;
  background-position: right;
  background-color: rgba(42, 61, 208, 0.085) ;
  background-blend-mode: multiply;
  /* filter: blur(1px); */


}

.heading-text {
  text-align: right;
  position: absolute;
  color: #ffffff;
  display: block;
  /* right: 10px; */
  /* bottom: 245px; */
  top: 25%;
  right: 5%;
  width: 100%;

}
.heading-text h1 {
  font-size: 50px;
}

.landing-features {
  background-color: #ffffff; 
  width: 95vw;
  height: 25vh;

}

img {
  display: block;
  height: 200px;
  width: 200px;
  margin: 0 25%;
}

.landing-features h4 {
  text-align: center;
  color: rgb(86, 37, 37);
}

.feature-column {
  /* padding: 20px 20px 20px; */
}

.feature-column p {
  /* position: absolute; */
  text-align: center;
  /* top: 25%; */
  /* right: 2%; */
  font-size: 1.5em;
}
/* 

.jumbotron {
  margin: 10px 30px 10px 30px;
}

.jumboContainer { 
  margin-top: 40px;
}

.feature-header {
  text-align: center;
  margin-bottom: 30px;

}

.feature-cards {
  margin: 10rem;

}
.feature-cards h4 {
  border: 3px solid black;
  text-align: center;
  border-radius: 3px;
  padding: 10rem;
  height: 10rem;
  margin: auto;
  /* margin: 10px; */
  /* flex-shrink: 0 */
/* }  */
